<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codetribe.my_kid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.LoginStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.LoginStyle" />
        <activity
            android:name=".SignUp"
            android:theme="@style/AppTheme.LoginStyle" />
        <activity
            android:name=".ResetPassword"
            android:theme="@style/AppTheme.LoginStyle" />
        <activity android:name=".ProfileUpdate" />
        <activity android:name=".KidsmemoListsActivity" />
        <activity android:name=".UploadKidsMemo" />
        <activity android:name=".ParentActivity" />
        <activity android:name=".TeachersActivity" />
        <activity
            android:name=".WelcomeActivity"
          />
        <activity android:name=".KidActivity" />
        <activity
            android:name=".ViewProfile"
            android:theme="@style/AppTheme.LoginStyle" />
        <activity android:name=".SignUpOrganisationActivity" />
        <activity android:name=".CreateTeacherAccount" />
        <activity android:name=".AboutUs" />

        <activity android:name=".GroupChat"></activity>
        <activity
            android:name=".ParentTabbedActivity"
            android:label="@string/title_activity_parent_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".KidsMemoListFragment" />
        <activity android:name=".ProfileUpdateFragment" />
        <activity
            android:name=".TeacherTabbedActivity"
            android:label="@string/title_activity_teacher_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin"
            android:label="@string/title_activity_admin_tabbed"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>